<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<strong>Administration</strong>

<div>
    Existing content<br />
    <li *ngFor="let m of contentFileList">
        {{m.file_name}}<a [routerLink]='' (click)="pushToAll(m.training_contents_uuid)">Push to all</a><br />
    </li>
</div>

<div>
    Push content to missionaries
</div>

<div class="div-border">
    Add users to the system:
    <a [routerLink]='' (click)='createUser("Test User", "test@branham.us")'>Add user</a><br />

    
    <table class="table table-striped" [mfData]="userList" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="created_at"></mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.created}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
