.container {
    background-color: green;
  }
  
  .item-1 {
    background-color: yellow;
  }
  
  .item-2 {
    background-color: purple;
  }
  
  .item-3 {
    background-color: blue;
  }
  
  .item-4 {
    background-color: orange;
  }
  
  .item-5 { 
    background-color: yellow;
  }
  