<div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Mission App', 'Training']" icon="fa-map"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  
    </div>
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <sa-widgets-grid>
      <!-- row -->
      <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- Widget ID (each widget will need unique ID)-->
          <div sa-widget class="well">
            <!-- widget options:
                usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                [colorbutton]="false"
                [editbutton]="false"
                [togglebutton]="false"
                [deletebutton]="false"
                [fullscreenbutton]="false"
                [custombutton]="false"
                [collapsed]="true"
                [sortable]="false"
            -->
            <header>
              <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
              <h2>Training Content </h2>
            </header>
            <!-- widget div-->
            <div>
              <!-- widget content -->
              <div class="widget-body no-padding">
                <div class="grid-container">
                    <div class="grid-item" class="left">
                      <div *ngFor="let training of trainingData">
                        <img src="./assets/img/download.png" style="width:40px;height:40px;" />
                        <a href="https://ldsapi.kotter.net/storage/{{ training.file_name }}">{{ training.file_name }}</a><br />
                      </div>
                    </div>
                    <div class="grid-item">Push to specific missionaries<br />

                      <mat-form-field>
                        <mat-select placeholder="Favorite food" [(value)]="selected">
                          <mat-option *ngFor="let food of foods" [(value)]="food.email">
                            {{ food.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <p>You selected: {{ selected }}</p>
                      
                    </div>
                </div>
              </div>
              <!-- end widget content -->
            </div>
            <!-- end widget div -->
          </div>
          <!-- end widget -->
        </article>
        <!-- WIDGET END -->
      </div>
      <!-- end row -->
    </sa-widgets-grid>
    <!-- end widget grid -->
  </div>
  